SUPABASE_URL=""
SUPABASE_SERVICE_KEY=""
SUPABASE_JWKS_URL=""
SUPABASE_AUDIENCE=""
POSTGRES_URL=""
MODEL_BASE_URL=""
MODEL_API_KEY=""
MAX_SESSION_DURATION_SECONDS=3600
SESSION_TIMEOUT_SECONDS=30
EXPIRY_SLIDE_SECONDS=30
MAX_PDF_SIZE=10485760
MAX_NOTES_PER_SESSION=3
CHUNK_TIMEOUT_SECONDS=15
NOTES_TIMEOUT_SECONDS=60